header:not(.modeWhite) nav ul li a,footer:not(.modeWhite) p{text-shadow: none;}

header.modeWhite nav ul li a,
footer.modeWhite p{
    text-shadow: 3px 1px 8px rgba(0, 0, 0, 0.45);
}

a{
    text-decoration: none;
}

ol.fiR30 li,
.indexContainer ul li,
.fancyBox div,
.videoDetailContainer input[type='button'],
.videoDetailContainer article div a.fiR24,
.themaDetailContainer div:first-of-type ol li{
    cursor: pointer;
}

header{
    width: 100%; position: fixed; top: 0; z-index: 1000; box-sizing: border-box;
}
header h1 a{
    display: block;
}
header nav ul li{
    display: inline-block; position: relative;
}
header nav ul li::before{
    content: ''; display: block; position: absolute;
}
header:not(.modeWhite) nav ul li.active::before{
    background-color: var(--BB03);
}
header.modeWhite nav ul li.active::before{
    background-color: var(--GS01);
}
footer{
    position: fixed; bottom: 0; z-index: 1000;
}
footer ul{
    font-size: 0;
}
footer ul li{
    width: var(--sp20); height: var(--sp20); display: inline-block;
}
footer ul li a{
    text-indent: -9999px; display: block; line-height: 20px; background-size: contain; background-repeat: no-repeat;
}
footer ul li:not(:first-of-type){
    margin-left: var(--sp15);
}

@media screen and (max-width: 767px){
    header{
        padding: var(--sp30) 0 var(--sp10);
    }
    header h1{
        max-width: 30px; padding-bottom: var(--sp10);
    }
    header nav ul li:not(:first-of-type){
        margin-left: var(--sp15);
    }
    header nav ul li.active::before{
        width: 5px; height: 5px; top: -3px; left: -8px;
    }
    footer p{
        padding-bottom: var(--sp30);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    header{
        padding: var(--sp40) 0 var(--sp10);
    }
    header h1{
        padding-bottom: var(--sp20);
    }
    header nav ul li.active::before{
        width: 8px; height: 8px; top: -5px; left: -12px;
    }
    footer p{
        padding-bottom: var(--sp40);
    }
}

@media screen and (min-width: 1280px){
    header{
        padding: var(--sp60) 3.125% 0; 
    }
    header::after{
        content: ''; display: block; clear: both;
    }
    header h1{
        float: left; width: 100%;
    }
    header nav{
        line-height: 50px; float: right; 
    }
    header nav ul li::before{
        width: 8px; height: 8px; top: 10px; left: -12px;
        clip-path: circle(20.0% at 50% 50%); transition: clip-path, background-color ease-out .2s;
    }
    header nav ul li.active::before,
    header nav ul li:hover::before{
        clip-path: circle(50.0% at 50% 50%);
    }
    header:not(.modeWhite) nav ul li:hover::before{
        background-color: var(--BB03);
    }
    header.modeWhite nav ul li:hover::before{
        background-color: var(--GS01);
    }
    footer{
        right: 3.125%; padding-bottom: var(--sp60);
    }
    footer ul{
        display: inline-block; vertical-align: bottom;
    }
    footer p{
        margin-left: var(--sp20); display: inline;
    }
}

@media screen and (min-width: 768px){
    header h1{
        max-width: 55px;
    }
    header nav ul li:not(:first-of-type){
        margin-left: var(--sp30);
    }
}

@media screen and (max-width: 1279px){
    header:not(.modeWhite){
        background-color: var(--GS01); box-shadow: 0px 10px 10px 5px var(--GS01);
    }
    header h1{
        margin: 0 auto; 
    }
    header nav{
        text-align: center;
    }
    header nav ul li::before{
        clip-path: circle(50.0% at 50% 50%);
    }
    footer{
        width: 100%; padding-top: var(--sp10); text-align: center;
    }
    footer:not(.modeWhite){
        background-color: var(--GS01); box-shadow: 0px -10px 10px 5px var(--GS01);
    }
    footer ul{
        padding-bottom: var(--sp15);
    }
}

@media screen and (max-width: 1279px) and (orientation: landscape){
    body>*:not(.mobLandscape){
        display: none;
    }
    .mobLandscape{
        position: fixed; z-index: 1002; width: 100vw; height: 100vh;
        text-align: center; line-height: var(--sp40);
        display: flex; flex-direction: column; justify-content: center;
    }
}

@media screen and (max-width: 1279px) and (orientation: portrait){
    .mobLandscape{
        display: none;
    }
}