
.material-symbols-outlined{font-variation-settings:'FILL' 0,'GRAD' 0,'opsz' 48}
.material-symbols-outlined:not(.regular){font-variation-settings:'wght' 200}
.material-symbols-outlined.regular{font-variation-settings:'wght' 400}

section[class*='thema'] h2,
section[class*='Detail'] h2{
    color: var(--BB01);
}
.indexContainer>div h2,
.themaDetailContainer p,
.themaContainer>div.unR40,
.themaContainer>div.unR40 span a,
section:not(.cityContainer) p.maR20,
ul.context li p.maR20{
    color: var(--BB02);
}
header:not(.modeWhite) nav ul li a,
footer:not(.modeWhite) p,
.indexContainer *.maS16{
    color: var(--BB03);
}
section:not([class*='Detail'],[class^='archive']) a:not(.modeWhite).fiR24,
.themaDetailContainer div ul li:hover a{
    color: var(--BB04);
}
div.mui,
.modeWhite *,
ol.fiR30 li.active,
.indexContainer ul li>div *,
.videoContainer h2,
.videoContainer div:first-of-type input[type='button'],
.videoContainer ol li:hover,
.videoDetailContainer input[type='button'].clicky{
    color: var(--GS01);
}
.fancyBox div input[type='button'],
.cityContainer .pageControl a,
.videoContainer div.pop.active input[type='button'],
.themaDetailContainer div ol li:not(.active),
.themaDetailContainer div ul li a{
    color: var(--GS04);
}
.themaDetailContainer div ol li.active,
.themaDetailContainer div ol li:hover{
    color: var(--GS02);
}
.themaDetailContainer div ol li.active,
.themaDetailContainer div ol li:hover{
    background-color: var(--BB01);
}
.videoContainer div.pop.active h3{
    color: var(--GS05);
}
.fancyBox div:hover input[type='button'],
.videoDetailContainer input[type='button']{
    color: var(--GS07);
}
ul.context li h3,
.videoDetailContainer .fiR24,
.themaDetailContainer h3{
    color: var(--GN);
}
.videoDetailContainer input[type='button'],
.videoDetailContainer article,
.videoDetailContainer article div div,
.videoContainer div.pop.active,
.themaDetailContainer div:last-of-type ul li a{
    background-color: var(--GS01);
}
.bx-wrapper .bx-pager.bx-default-pager a,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: var(--GS02);
}
.bx-wrapper .bx-pager.bx-default-pager a:hover{
    background-color: var(--GS03);
}
.videoDetailContainer input[type='button'].clicky{
    background-color: var(--BB02);
}
.mobLandscape,
.videoContainer{
    background-color: var(--GS07);
}
.indexContainer ul li>div>input[type='button'],
.videoContainer input[type='button']{
    background-color: transparent; border: none; padding: 0; cursor: pointer;
}

*[class^='un']:not([class*='30']),
section:not(.cityContainer,.videoDetailContainer) *.unR30{
    font-style: italic;
}

@keyframes line{0%{transform: scaleX(0); background-color: var(--GN);}50%{transform: scaleX(0.5);}100%{transform: scaleX(1); background-color: var(--GN);}}

@keyframes type01Title{0%{text-indent: -10px;}100%{opacity: 1;}}
@keyframes type01Line{0%{transform: scaleX(0);}100%{opacity: 1; transform: scaleX(1);}}

@keyframes type02Line{0%{width: 0; text-indent: -100px; color: transparent;}50%{opacity: 1; width: 100%; text-indent: -100px; color: transparent;}100%{opacity: 1;}}
@keyframes type02Text{0%{right: 5%;}100%{opacity: 1;}}

@keyframes type03TitleTop{10%{clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); transform:translateY(100%);}95%{transform:translateY(0%);}100%{opacity: 1; clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}}
@keyframes type03TitleBottom{10%{clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); top: calc(28vh + 50px);}100%{opacity: 1; clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); top: calc(28vh + 190px);}}

@keyframes textDown{10%{clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); transform:translateY(-5%);}95%{transform:translateY(0);}100%{opacity: 1; clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}}
@keyframes lastAction{100%{opacity: 1;}}

@keyframes circleFocus{from{transform: translate(-50%,-50%) scale(1);}to{transform: translate(-50%,-50%) scale(0); opacity: 0.3;}}

@keyframes circleMagneticTop{0%{bottom: 30px;}100%{bottom: 55px;}}
@keyframes circleMagneticBottom{0%{bottom: 0;}100%{bottom: -25px;}}

section:not([class*='Detail'],[class^='archive']) a.fiR24{
    float: right; position: relative; line-height: var(--sp60);
}
section:not([class*='Detail'],[class^='archive']) a:not(.modeWhite).fiR24::before{
    border-color: var(--GS07);
}
section:not([class*='Detail'],[class^='archive']) a.modeWhite.fiR24::before{
    border-color: var(--GS01);
}

ul.context li{
    display: block;
}
ul.context li p{
    text-align: justify;
}

.indexContainer ul li.clicky>div>input[type='button']{
    display: block; background-image: url('../images/icon_left.svg');
}
.videoDetailContainer article div>a.fiR24{
    background-image: url('../images/icon_left_green.svg');
}
.videoDetailContainer article ol li a.fiR24{
    background-image: url('../images/icon_right_green.svg');
}
.indexContainer ul li>div>input[type='button'],
.videoDetailContainer a.fiR24{
    background-repeat: no-repeat; background-position: right center; background-size: contain;
}

.pageControl{
    position: relative; height: var(--sp50);
}
.pageControl a{
    position: absolute; background-repeat: no-repeat; line-height: var(--sp50);
}
.pageControl a:first-of-type{
    left: 0; background-image: url('../images/icon_leftDouble.svg'); background-position: left center;
}
.pageControl a:last-of-type{
    right: 0; background-image: url('../images/icon_rightDouble.svg'); background-position: right center;
}

.indexContainer{
    overflow: hidden;
}
.indexContainer>div{
    width: 100vw; height: 100vh; position: absolute;
}
.indexContainer>div *{
    display: block; text-align: center;
}
.indexContainer ul{
    position: relative; overflow: hidden; white-space: nowrap; height: 100vh;
}
.indexContainer ul li{
    display: inline-block; position: absolute; transition: all ease-out .4s; top: 30vh; left: 45vw;
    background-size: cover; background-repeat: no-repeat; background-position: center; box-sizing: border-box;
}
.indexContainer ul li.active::before{
    content: ''; display: block; height: 1px; position: absolute; top: -15px; text-align: center;
    animation: line ease-out .4s .4s forwards;
}
.indexContainer ul li.active.clicky{
    z-index: 100; left: 0 !important; top: 0 !important; width: 100%; height: 100%; position: fixed; cursor: auto;
}
.indexContainer ul li::after{
    content: ''; display: block; width: 100%; height: 100%; transition: all ease-out .3s;
}
.indexContainer ul li.active.clicky::after{
    background-color: rgba(0, 0, 0, 0.5);
}
.indexContainer ul li>*{
    display: none;
}
.indexContainer ul li.clicky>div{
    position: absolute; height: 100%; width: 100%; box-sizing: border-box; 
}

.cityContainer div.titleBox{
    text-align: center;
}

.fancyBox{
    position: relative;
}
.fancyBox>span{
    display: none;
}
.fancyBox div input[type='button']{
    position: absolute; top: 0; right: 0; z-index: 100; background-color: transparent; border: none; cursor: pointer;
    transition: color 0.2s ease-out;
}
.fancybox__toolbar {
    --f-button-svg-width: var(--sp50);
    --f-button-svg-height: var(--sp50);
    text-shadow: none;
}
.fancybox__infobar{
    padding: 0; text-align: center;
}
.fancybox__toolbar__column.is-middle .f-button,
.fancybox__infobar:not(:first-child):not(:last-child){
    background-color: transparent;
}
.fancybox__toolbar__column.is-right{
    padding: var(--sp40) 0 0;
}
.fancybox__toolbar__column.is-right .f-button{
    background-color: transparent; position: absolute; right: 3.125%;
}
.fancybox__toolbar__column.is-right .f-button svg{
    width: var(--sp60); height: var(--sp60);
}
.fancybox__container{
    --fancybox-bg: rgba(0, 0, 0, 0.7);
    --fancybox-color: var(--GS01);
}

.videoContainer>span{
    display: block; width: var(--sp100); height: var(--sp100); text-indent: -9999px;
    position: absolute; left: 50%; transform: translate(-50%,-50%); z-index: 1000;
}
.videoContainer>span::after{
    content: ''; display: block; box-sizing: border-box; border-radius: 50%; border-style: solid; border-color: var(--GS01);
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    animation: circleFocus 1.5s linear infinite;
}
.videoContainer>span.active::after,
.videoContainer div.pop:not(.active){
    display: none;
}
.videoContainer div.pop.active{
    box-sizing: border-box;
    position: absolute; z-index: 100; left: 50%; transform: translate(-50%,-50%); transition: clip-path ease-out .6s;
}
.videoContainer div.pop.active:not(.clicky){
    clip-path: circle(0.0% at 50% 50%); 
}
.videoContainer div.pop.active.clicky{
    clip-path: circle(72.0% at 50% 50%);
}
.videoContainer div.pop.active:not(.clicky)>*{
    opacity: 0;
}
.videoContainer div.pop.active>*:not(a){
    transition: opacity ease-out .3s;
}
.videoContainer div.pop.active.clicky>*{
    opacity: 1;
}
.archiveContainer ol:last-of-type li ul li a{
    float: right;
}

.videoDetailContainer{
    position: relative; width: 100vw; height: 100vh; 
    background-size: cover; background-repeat: no-repeat; background-position: top center;
}
.videoDetailContainer input[type='button']{
    position: absolute; z-index: 1000; border: none; border-radius: 50%; box-sizing: border-box;
    transition-property: background-color, color, transform; transition-duration: .4s; transition-delay: .7s;
}
.videoDetailContainer article ol li{
    display: block;   
}

.themaDetailContainer{
    text-align: center;
}
.themaDetailContainer div:first-of-type ol li{
    display: inline-block; border-radius: 50%; transition: all ease-out .25s;
}
.themaDetailContainer div:last-of-type ul li{
    display: block; position: relative; border-radius: 50%;
    background-size: cover; background-repeat: no-repeat;
}
.themaDetailContainer div:last-of-type ul li a{
    position: absolute; bottom: 0; left: 50%; transform: translate(-50% ,0);
    transition: all ease-out .2s; box-shadow: 5px 5px 8px rgba(155, 155, 155, 0.2);
}
.themaDetailContainer div ul li:hover a{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.themaContainer{
    width: 93.75%; margin: 0 3.125%;
}
.bx-wrapper{
    box-sizing: border-box; margin: 0; box-shadow: none; border: none; 
}
.themaSlider li div{
    display: none;
}
.bx-pager.bx-default-pager{
    padding: 0;
}
.bx-pager.bx-default-pager::after{
    content: ''; display: block; width: 12.5%; height: 5px;
    position: absolute; bottom: 0; left: 0; background-color: var(--BB01); transition: left ease-out 1s;
}
.bx-pager.bx-default-pager.page01::after{left: 0;}
.bx-pager.bx-default-pager.page02::after{left: 12.5%;}
.bx-pager.bx-default-pager.page03::after{left: 25%;}
.bx-pager.bx-default-pager.page04::after{left: 37.5%;}
.bx-pager.bx-default-pager.page05::after{left: 50%;}
.bx-pager.bx-default-pager.page06::after{left: 62.5%;}
.bx-pager.bx-default-pager.page07::after{left: 75%;}
.bx-pager.bx-default-pager.page08::after{left: 87.5%;}

.bx-pager-item{
    width: 12.5%;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    width: 100%; height: 5px; box-sizing: border-box; border-radius: 0; margin: 0; transition: background-color ease-out .2s;
}
.themaContainer>div.unR40{
    position: absolute; text-align: center;
}
.themaContainer>div.unR40 span:not([class*='Page']){
    position: absolute;
}
.themaContainer>div.unR40 span:first-of-type{
    left: 0;
}
.themaContainer>div.unR40 span:nth-of-type(2){
    right: 0;
}

.archiveContainer h2{
    display: none;
}
.archiveContainer ol:last-of-type{
    white-space: nowrap; box-sizing: border-box; overflow: hidden; font-size: 0; scroll-behavior: smooth;
}
.archiveContainer ol:last-of-type>li{
    display: inline-block; box-sizing: border-box;
}
.archiveContainer ol:last-of-type li ul li b{
    display: block;
}
.archiveContainer ol:last-of-type li ul li h3{
    white-space: normal;
}
.archiveContainer ol:last-of-type li ul li a{
    text-align: center; border-radius: 5px;
}

@media screen and (min-width: 768px){
    .indexContainer ul li>div>input[type='button'],
    .videoDetailContainer a.fiR24{
        padding-right: var(--sp30); margin-bottom: var(--sp20);
    }

    .pageControl a:first-of-type{
        padding-left: var(--sp50);
    }
    .pageControl a:last-of-type{
        padding-right: var(--sp50);
    }
    
    .cityContainer div.titleBox h2{
        margin-bottom: var(--sp10);
    }
    .indexContainer>div>small{
        margin-bottom: var(--sp20);
    }
    .indexContainer ul li.clicky>div{
        padding: 0 10%;
    }
    
    .fancyBox div input[type='button']{
        font-size: var(--sp50); padding: var(--sp15);
    }
    .fancybox__toolbar{
        --f-button-width: var(--sp60);
        --f-button-height: var(--sp60);
    }
    .fancybox__toolbar__column.is-middle .f-button{
        align-items: end;
    }

    .videoContainer>span::after{
        width: var(--sp100); height: var(--sp100); border-width: 6px;
    }

    .videoDetailContainer input[type='button']{
        width: 120px; height: 120px; font-size: var(--sp40);
    }
    
    .themaDetailContainer div:last-of-type ul li{
        float: left; width: 30%; padding-top: 30%;
    }
    .themaDetailContainer div:last-of-type ul li:not(:first-of-type){
        margin-left: 5%;
    }

    .themaContainer>div.unR40 span:not([class*='Page']){
        font-size: var(--sp40);
    }
    .themaContainer .titleBox p{
        margin-bottom: var(--sp40);
    }
}

@media screen and (max-width: 1279px){
    section.indexContainer>div>span{
        display: none;
    }

    .cityContainer div.titleBox *[class*='R']{
        color: var(--BB02);
    }
    .cityContainer div.titleBox small{
        color: var(--BB03);
    }
    .archiveContainer ol:last-of-type li ul li a{
        color: var(--BB04);
    }
    .archiveContainer ol:last-of-type li ul li a{
        background-color: var(--GS01);
    }
    .archiveContainer ol:last-of-type li ul li h3{
        color: var(--GS02);
    }
    
    section.videoContainer ol.fiR30{
        margin: 0 auto;
    }
    section.archiveContainer ol.fiR30{
        position: fixed; left: 50%; transform: translate(-50%,0);
    }
    ol.fiR30{
        width: 90%; display: flex; justify-content: space-between;
    }
    ol.fiR30 li{
        display: inline-block;
    }
    .archiveContainer ol.fiR30 li:not(.active){
        color: var(--GS03);
    }
    .videoContainer ol.fiR30 li:not(.active){
        color: var(--GS04);
    }

    section:not([class*='Detail'],[class^='archive']) a.fiR24 span{
        display: none;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::before{
        content: ''; display: block; position: absolute; border-width: 1px; border-style: solid;
    }

    .indexContainer ul li.clicky>div{
        display: flex; flex-flow: column; justify-content: center;
    }
    .indexContainer ul li.clicky>div *{
        opacity: 0; animation-fill-mode: forwards; white-space: normal;
    }
    .indexContainer ul li.clicky>div h3{
        animation-delay: .5s; animation-name: type01Title; animation-duration: .8s;
    }
    .indexContainer ul li.clicky>div div{
        position: relative; text-align: right; animation-delay: 1s; animation-name: type01Line; animation-duration: .5s;
        border-style: solid; border-color: rgba(253, 255, 193, 0.5);
    }
    .indexContainer ul li.clicky>div div p{
        animation-delay: 1.5s; animation-name: textDown; animation-duration: .8s; text-align: left;
    }
    .indexContainer ul li.clicky>div>input[type='button'],
    .indexContainer ul li.clicky>div div a{
        animation-delay: 2.2s; animation-name: lastAction; animation-duration: 1s;
    }

    .videoContainer{
        height: 100vh;
        display: flex; flex-flow: column; justify-content: center; 
    }
    .videoContainer video{
        width: 100%; 
        order: 1; margin: var(--sp20) 0;
    }
    .videoContainer h2{
        text-align: center;
    }
    .videoContainer div:first-of-type{
        order: 1; z-index: 1; text-align: center;
    }
    .videoContainer div.pop.active input[type='button']{
        position: absolute;
    }

    .videoDetailContainer:not(.active){
        overflow: hidden;
    }
    .videoDetailContainer.active{
        overflow: visible;
    }
    .videoDetailContainer input[type='button']{
        clip-path: inset(0 0 50% 0);
    }
    .videoDetailContainer input[type='button'].clicky{
        position: fixed;
    }
    .videoDetailContainer article{
        width: 100%; position: absolute; transition: all ease-out 1s; box-sizing: border-box;
    }
    .videoDetailContainer article:not(.active)>div>*:not(div){
        opacity: 0;
    }
    .videoDetailContainer article>div>*:not(div){
        transition: opacity ease-out 1s;
    }
    .videoDetailContainer article ol li:not(:last-of-type){
        margin-bottom: var(--sp40);
    }

    .themaDetailContainer div:first-of-type ol li{
        width: var(--sp40); line-height: var(--sp40);
    }
    .themaDetailContainer>ul li:not(.active){
        display: none;
    }
    .themaDetailContainer>ul li{
        display: block;
    }
    .themaDetailContainer div:last-of-type ul li a{
        width: 85%; line-height: 35px;
    }

    .bx-wrapper{
        width: 100%;
    }
    .themaContainer .titleBox{
        width: 93%; margin: 0 3.5%;
    }

    .archiveContainer{
        width: 100vw; height: 100vh; overflow: hidden; position: relative;
        display: flex; flex-flow: column; justify-content: center;
        background-repeat: no-repeat; background-size: 100vw 100vh; transition: background-position ease 1s;
    }
    .archiveContainer::after{
        content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; background-color: rgba(51, 51, 51, 0.5);
    }
    .archiveContainer>div{
        position: relative; z-index: 1;
    }
    .archiveContainer ol:last-of-type{
        padding: 0 15vw; 
    }
    .archiveContainer ol:last-of-type li ul{
        white-space: nowrap; overflow: hidden; box-sizing: border-box;
    }
    .archiveContainer ol:last-of-type li ul li{
        display: inline-block; width: 50vw; margin-left: 10vw;
    }
    .archiveContainer ol:last-of-type li:last-of-type ul li:last-of-type{
        margin-right: 10vw;
    }
    .archiveContainer ol:last-of-type li ul li b{
        color: var(--YE);
    }
    .archiveContainer ol:last-of-type li ul li a{
        width: 50%;
    }

    @keyframes drift{0%{transform: rotate(0deg) scale(0,0); opacity: 0.8;}40%{transform: rotate(180deg) scale(0.5,0.5); opacity: 0.4;}100%{transform: rotate(360deg) scale(1,1); opacity: 0;}}
    @keyframes movehori{100%{left: 80%;}}
    @keyframes fullScreen{100%{opacity: 0; display: none;}}
    
    div.preinfo{
        width: 100vw; height: 100vh;
        overflow: hidden; background-color: rgba(0, 0, 0, 0.7);
        position: absolute; z-index: 1001;
        transition: all ease .5s;
        animation: fullScreen 0.5s ease 5s forwards;
        display: flex; flex-direction: column; justify-content: center;
    }
    
    div.preinfo strong{
        display: block; margin: 0 auto var(--sp20);
        text-align: center; text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    }
    .wrapWave{
        width: 100%; height: 100px; max-width: 280px; margin: 0 auto;
        position: relative;
    }
    .wrapWave::after{
        content: ''; width: var(--sp30); height: var(--sp30); display: block; position: absolute;
        background-image: url('../images/testHand12.svg');
        transform: rotate(-30deg);
        background-repeat: no-repeat; left: 15%; top: 45px;
        animation: movehori 1.4s cubic-bezier(.5,0,.5,1) 1s 2 alternate forwards;
    }

    .wrapWave span{
        width: var(--sp100); height: var(--sp100);
        position: absolute; top: 0px; opacity: 0;
        border: 2px solid var(--GS03); box-sizing: border-box; border-radius: 48%;
        animation-name: drift; animation-duration: 2s; animation-timing-function: linear; animation-iteration-count: 1; animation-fill-mode: forwards;
    }

    .wrapWave span:nth-of-type(1){left: -2%; animation-delay: 1.2s;}
    .wrapWave span:nth-of-type(2){left: 20%; animation-delay: 1.6s;}
    .wrapWave span:nth-of-type(3){left: 40%; animation-delay: 1.8s;}
    .wrapWave span:nth-of-type(4){left: 62%; animation-delay: 2.1s;}
    .wrapWave span:nth-of-type(5){left: 40%; animation-delay: 3s;}
    .wrapWave span:nth-of-type(6){left: 20%; animation-delay: 3.2s;}
    .wrapWave span:nth-of-type(7){left: -2%; animation-delay: 3.5s;}
}

@media screen and (max-width: 767px){
    div.preinfo strong{
        line-height: var(--sp40);
    }

    section[class*='Container']:not(.indexContainer){
        box-sizing: border-box;
    }

    .themaContainer .titleBox::after{
        content: ''; display: block; clear: both; 
    }

    section.archiveContainer ol.fiR30{
        top: 130px;
    }
    ol.fiR30{
        max-width: 400px;
    }
    ol.fiR30 li{
        font-size: 14px;
    }

    section:not([class*='Detail'],[class^='archive']) a.fiR24{
        max-width: 68px;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::before{
        width: 36px; height: 36px; left: 14px; bottom: 11px; border-radius: 18px;
    }

    .videoDetailContainer article>div>div{
        margin-bottom: var(--sp80);
    }
    ul.context{
        margin-bottom: var(--sp60);
    }
    ul.context li:not(:last-of-type),
    .themaDetailContainer>ul li{
        margin-bottom: var(--sp50);
    }
    ul.context li h3{
        line-height: 26px;
    }
    .cityContainer div.titleBox,
    .fancyBox,
    .videoContainer h2,
    .themaDetailContainer div:first-of-type p,
    .themaDetailContainer div:first-of-type ol,
    .themaDetailContainer div:last-of-type ul li:not(:last-of-type),
    .themaContainer .titleBox p{
        margin-bottom: var(--sp30);
    }
    ul.context li h3,
    ul.context li p:not(:last-of-type),
    .indexContainer ul li.clicky>div div p,
    .videoContainer div.pop.active p,
    .themaDetailContainer>ul li h3,
    .themaDetailContainer>ul li figure img,
    .themaContainer .titleBox h2,
    .archiveContainer ol:last-of-type li ul li img{
        margin-bottom: var(--sp20);
    }
    .cityContainer div.titleBox small,
    .themaDetailContainer div:first-of-type h2{
        margin-bottom: var(--sp15);
    }
    .indexContainer ul li>div>input[type='button'],
    .videoDetailContainer a.fiR24,
    .videoContainer div.pop.active h3,
    .archiveContainer ol:last-of-type li ul li h3{
        margin-bottom: var(--sp10);
    }

    .indexContainer ul li.clicky>div>input[type='button']{ 
        max-width: 90px;
    }
    .videoDetailContainer article div>a.fiR24{
        max-width: 84px; line-height: 22px;
    }
    .videoDetailContainer article ol li a.fiR24{
        max-width: 128px; line-height: 22px;
    }
    .indexContainer ul li>div>input[type='button'],
    .videoDetailContainer a.fiR24{
        padding-right: var(--sp20);
    }

    .pageControl a{
        background-size: 30px;
    }
    .pageControl a:first-of-type{
        padding-left: var(--sp30); 
    }
    .pageControl a:last-of-type{
        padding-right: var(--sp30); 
    }

    .indexContainer>div>small{
        margin-bottom: 5px;
    }
    .indexContainer ul li{
        width: 33.333vw; height: 66.666vw;
    }
    .indexContainer ul li.active::before{
        width: 11.111vw; left: 11.111vw;
    }
    .indexContainer ul li.clicky>div{
        padding: 0 7%;
    }
    .indexContainer ul li.clicky>div h3{
        padding-bottom: var(--sp15);
    }
    .indexContainer ul li.clicky>div div{
        border-width: 3px 0 0;
    }
    .indexContainer ul li.clicky>div div p{
        padding-top: var(--sp20);
    }

    .cityContainer{
        margin: 0 7%; 
    }
    .cityContainer div.titleBox small{
        display: inline-block; padding: 0 5px 5px; border-bottom: 1px solid var(--GN);
    }

    .fancyBox div input[type='button']{
        font-size: var(--sp30); padding: var(--sp10);
    }
    .fancybox__toolbar {
        --f-button-width: var(--sp30);
        --f-button-height: var(--sp30);
    }
    .fancybox__toolbar__column.is-middle{
        padding-top: var(--sp100);
    }
    
    .videoContainer div:first-of-type input[type='button']{
        font-size: var(--sp30);
    }
    .videoContainer>span::after{
        width: var(--sp60); height: var(--sp60); border-width: 4px;
    }
    .videoContainer div.pop.active{
        width: 85%; min-width: 240px; padding: var(--sp40) var(--sp20) var(--sp20); 
    }
    .videoContainer div.pop.active input[type='button']{
        font-size: 24px; top: var(--sp15); right: var(--sp15); 
    }

    .videoDetailContainer input[type='button']{
        width: var(--sp60); height: var(--sp60); font-size: var(--sp20); padding: 0 0 var(--sp30) 0; right: 7%; transform: scaleY(1) translateY(-70px);
    }
    .videoDetailContainer input[type='button'].clicky{
        transform: translateY(-70px) scaleY(-1);
    }
    .videoDetailContainer article{
        padding: var(--sp40) 7% 150px;
    }
    .videoDetailContainer article.active{
        top: 90px !important;
    }

    .themaDetailContainer{
        margin: 0 7%; 
    }
    .themaDetailContainer div:first-of-type ol{
        white-space: nowrap; overflow-y: auto; padding: 0 5.833%;
    }
    .themaDetailContainer div:last-of-type{
        max-width: 150px; margin: 0 auto;
    }
    .themaDetailContainer div:last-of-type ul li{
        width: 100%; padding-top: 100%;
    }

    .bx-wrapper .bx-pager{
        bottom: -15px;
    }
    .themaContainer>div.unR40{
        width: var(--sp100); margin-top: var(--sp30); right: 7%;
    }
    .themaContainer>div.unR40 span:not([class*='Page']){
        font-size: var(--sp20);
    }
    .themaContainer>div.unR40 span[class*='Page']{
        line-height: var(--sp20);
    }
    .themaContainer .titleBox{
        padding: var(--sp60) 0 0;
    }
    .themaContainer .titleBox h2{
        line-height: var(--sp20);
    }

    .archiveContainer ol:last-of-type li ul li b{
        margin-bottom: 5px; 
    }
    .archiveContainer ol:last-of-type li ul li a{
        min-width: var(--sp100); line-height: var(--sp30);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    div.preinfo strong{
        line-height: var(--sp50);
    }

    section[class*='Container']:not(.indexContainer){
        padding: var(--sp200) 0; box-sizing: border-box;
    }

    .themaDetailContainer div:last-of-type ul::after{
        content: ''; display: block; clear: both;
    }
    .themaContainer .titleBox::after{
        content: ''; display: block; clear: both;
    }

    section.archiveContainer ol.fiR30{
        top: var(--sp200);
    }
    ol.fiR30{
        max-width: 660px;
    }

    section:not([class*='Detail'],[class^='archive']) a.fiR24{
        max-width: 85px;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::before{
        width: var(--sp50); height: var(--sp50); left: 18px; bottom: 4px; border-radius: 25px;
    }

    .videoDetailContainer article>div>div{
        margin-bottom: var(--sp200);
    }
    ul.context{
        margin-bottom: var(--sp80);
    }
    ul.context li:not(:last-of-type),
    .cityContainer div.titleBox,
    .fancyBox,
    .themaDetailContainer>ul li{
        margin-bottom: var(--sp60);
    }
    .videoContainer h2,
    .themaDetailContainer div:first-of-type p,
    .themaDetailContainer div:first-of-type ol{
        margin-bottom: var(--sp50);
    }
    .videoContainer div.pop.active p{
        margin-bottom: var(--sp40);
    }
    ul.context li h3,
    ul.context li p:not(:last-of-type),
    .indexContainer ul li.clicky>div div p,
    .themaDetailContainer h3,
    .themaDetailContainer>ul li figure img,
    .themaContainer .titleBox h2,
    .archiveContainer ol:last-of-type li ul li img{
        margin-bottom: var(--sp30);
    }
    .cityContainer div.titleBox small,
    .videoContainer div.pop.active input[type='button'],
    .videoContainer div.pop.active h3,
    .themaDetailContainer div:first-of-type h2,
    .archiveContainer ol:last-of-type li ul li h3{
        margin-bottom: var(--sp20);
    }
    .archiveContainer ol:last-of-type li ul li b{
        margin-bottom: var(--sp15);
    }

    .indexContainer ul li.clicky>div>input[type='button']{ 
        max-width: 120px;
    }
    .videoDetailContainer article div>a.fiR24{
        max-width: 104px; line-height: 26px;
    }
    .videoDetailContainer article ol li a.fiR24{
        max-width: 160px; line-height: 26px;
    }

    .indexContainer ul li{
        width: 20vw; height: 48vw;
    }
    .indexContainer ul li.active::before{
        width: 6vw; left: 7vw;
    }
    .indexContainer ul li.clicky>div h3{
        padding-bottom: var(--sp20);
    }
    .indexContainer ul li.clicky>div div{
        border-width: 5px 0 0;
    }
    .indexContainer ul li.clicky>div div p{
        padding-top: var(--sp30);
    }

    .cityContainer{
        margin: 0 10%;
    }
    .cityContainer div.titleBox small{
        display: inline-block; padding: 0 5px 5px; border-bottom: 1px solid var(--GN);
    }

    .fancybox__toolbar__column.is-middle{
        padding-top: var(--sp200);
    }

    .videoContainer div:first-of-type input[type='button']{
        font-size: var(--sp50);
    }
    .videoContainer div.pop.active{
        width: 60%; padding: var(--sp80) var(--sp50) var(--sp50);
    }
    .videoContainer div.pop.active input[type='button']{
        font-size: var(--sp30); top: var(--sp30); right: var(--sp30);
    }

    .videoDetailContainer input[type='button']{
        padding: 0 0 var(--sp60) 0; transform: scaleY(1) translateY(-100%); right: 10%;
    }
    .videoDetailContainer input[type='button'].clicky{
        transform: translateY(-100%) scaleY(-1);
    }
    .videoDetailContainer article{
        padding: var(--sp60) 10% 150px;
    }
    .videoDetailContainer article.active{
        top: 150px !important;
    }

    .themaDetailContainer{
        margin: 0 10%;
    }
    .themaDetailContainer div:last-of-type ul{
        padding: 0 6%;
    }

    .themaContainer>div.unR40{
        width: var(--sp200); margin-top: var(--sp50); right: 6%;
    }
    .themaContainer>div.unR40 span[class*='Page']{
        line-height: var(--sp40);
    }
    .themaContainer .titleBox{
        padding: var(--sp80) 0 0;
    }
    .themaContainer .titleBox h2{
        width: 70%; line-height: var(--sp40);
    }

    .archiveContainer ol:last-of-type li ul li a{
        max-width: 150px; line-height: var(--sp40); 
    }
}

@media screen and (min-width: 1280px){
    .mui{
        display: none !important; 
    }

    .videoContainer ol::after{
        content: ''; display: block; clear: both;
    }
    .videoDetailContainer article ol::after{
        content: ''; display: block; clear: both;
    }
    .themaDetailContainer div:last-of-type ul::after{
        content: ''; display: block; clear: both;
    }
    .archiveContainer ol:last-of-type>li ul::after{
        content: ''; display: block; clear: both;
    }

    .cityContainer>div.active div.titleBox *[class*='R']{
        color: var(--BB02);
    }
    .cityContainer>div.active div.titleBox small{
        color: var(--BB03);
    }
    .archiveContainer ol:last-of-type li ul li:hover a{
        color: var(--BB04); background-color: var(--GS01);
    }
    ol.fiR30 li:hover{
        color: var(--GS01);
    }
    .archiveContainer ol:last-of-type li ul li:hover h3{
        color: var(--GS02);
    }
    ol.fiR30 li:not(.active),
    .archiveContainer ol:last-of-type li ul li *{
        color: var(--GS04);
    }
    .archiveContainer ol:last-of-type li ul li:hover b{
        color: var(--YE);
    }

    section:not([class*='Detail'],[class^='archive']) a.fiR24{
        max-width: 102px; transition: padding-right cubic-bezier(.63,.04,1,.73) .6s;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24:hover{
        padding-right: 100px;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24 span{
        display: inline-block; line-height: var(--sp60); vertical-align: bottom;
        position: absolute; right: 38px; opacity: 0; transition-property: opacity; transition-timing-function: ease-out; transition-duration: .2s;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24:hover span{
        transition-delay: 0.6s; opacity: 1; 
    }
    section:not([class*='Detail'],[class^='archive']) a:not(.modeWhite).fiR24::after{
        border-color: var(--GS07);
    }
    section:not([class*='Detail'],[class^='archive']) a.modeWhite.fiR24::after{
        border-color: var(--GS01);
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::before,
    section:not([class*='Detail'],[class^='archive']) a.fiR24::after{
        content: ''; display: block; width: 60px; height: 30px; position: absolute; right: 20px; border-style: solid;
        animation-timing-function: cubic-bezier(.17,.67,.58,.91); animation-duration: .3s; animation-direction: alternate; animation-iteration-count: 2;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::before{
        bottom: 30px; border-radius: 30px 30px 0 0; border-width: 1px 1px 0;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24:hover::before{
        animation-name: circleMagneticTop;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24::after{
        bottom: 0; border-radius: 0 0 30px 30px; border-width: 0 1px 1px;
    }
    section:not([class*='Detail'],[class^='archive']) a.fiR24:hover::after{
        animation-name: circleMagneticBottom;
    }

    .cityContainer div.contentBox ul.context{
        margin-bottom: var(--sp200);
    }
    .videoDetailContainer article ul{
        margin-bottom: var(--sp100);
    }
    ul.context li:not(:last-of-type),
    .videoDetailContainer article div div{
        margin-bottom: var(--sp80);
    }
    .indexContainer ul li.type03>div div,
    .themaDetailContainer div:first-of-type>*:not(h2){
        margin-bottom: var(--sp60);
    }
    .videoContainer div.pop.active p{
        margin-bottom: var(--sp50);
    }
    ul.context li h3,
    .themaDetailContainer div h3{
        margin-bottom: var(--sp40);
    }
    ul.context li p:not(:last-of-type),
    .indexContainer ul li>div div p,
    .indexContainer ul li:not(.type01)>div h3,
    .cityContainer div.titleBox small,
    .videoContainer div.pop.active h3,
    .themaContainer .titleBox h2,
    .archiveContainer ol:last-of-type li ul li img{
        margin-bottom: var(--sp30);
    }
    .indexContainer ul li.type01>div h3,
    .themaDetailContainer div:first-of-type h2,
    .themaDetailContainer>ul li h3,
    .themaDetailContainer img,
    .archiveContainer b{
        margin-bottom: var(--sp20);
    }

    .videoDetailContainer article div>a.fiR24{
        max-width: 124px;
    }
    .videoDetailContainer article ol li a.fiR24{
        max-width: 191px;
    }
    .indexContainer ul li>div>input[type='button'],
    .videoDetailContainer a.fiR24{
        transition: padding ease-out 0.2s;
    }
    .videoDetailContainer article ol li a.fiR24:hover{
        padding-right: var(--sp40);
    }
    .indexContainer ul li>div>input[type='button']:hover,
    .videoDetailContainer article div>a.fiR24:hover{
        padding-right: var(--sp20);
    }

    .indexContainer>div>span{
        opacity: 1; transition: opacity ease-out .4s;
    }
    .indexContainer>div>span small{
        margin-top: var(--sp10); font-size: 40px;
    }
    .indexContainer ul li{
        width: 10vw; height: 24vw;
    }
    .indexContainer ul li.active::before{
        width: 4vw; left: 3vw;
    }
    .indexContainer ul li.clicky>div{
        display: block; padding-top: 28vh; padding-bottom: 28vh;
    }
    .indexContainer ul li:not(.type01)>div h3{
        padding-bottom: var(--sp20);
    }
    .indexContainer ul li:not(.type03)>div div{
        max-width: 500px;
    }
    .indexContainer ul li>div div{
        position: absolute; text-align: right;
    }
    .indexContainer ul li>div div p{
        white-space: normal;
    }

    .indexContainer ul li>div *:not(p,div),
    .indexContainer ul li.active.clicky.type03>span,
    .indexContainer ul li:not(.type03)>div div,
    .indexContainer ul li:not(.type02)>div div p{
        opacity: 0; animation-fill-mode: forwards;
    }
    .indexContainer ul li>div>input[type='button'],
    .indexContainer ul li>div div a{
        animation-name: lastAction; animation-duration: 1s;
    }

    .indexContainer ul li.type01>div h3{
        animation-delay: .5s; animation-name: type01Title; animation-duration: .8s;
    }
    .indexContainer ul li.type01>div div{
        border-top: 5px solid rgba(253, 255, 193, 0.5);
        animation-delay: 1s; animation-name: type01Line; animation-duration: .5s;
    }
    .indexContainer ul li.type01>div div p{
        padding-top: var(--sp30); text-align: left;
        animation-delay: 1.5s; animation-name: textDown; animation-duration: .8s;
    }
    .indexContainer ul li.type01>div>input[type='button'],
    .indexContainer ul li.type01>div div a{
        animation-delay: 2.2s;
    }
    
    .indexContainer ul li.type02>div h3{
        border-bottom: 5px solid rgba(253, 255, 193, 0.5);
        animation-delay: .5s; animation-name: type02Line; animation-duration: 1.5s;
    }
    .indexContainer ul li.type02>div div{
        right: 10%;
        animation-delay: 2s; animation-name: type02Text; animation-duration: .5s;
    }
    .indexContainer ul li.type02>div>input[type='button'],
    .indexContainer ul li.type02>div div a{
        animation-delay: 2.5s;
    }

    .indexContainer ul li.type03>div h3,
    .indexContainer ul li.active.clicky.type03>span{
        animation-delay: .5s; animation-duration: .8s;
    }
    .indexContainer ul li.type03>div h3{
        display: inline-block; border-bottom: 5px solid rgba(253, 255, 193, 0.5);
        animation-name: type03TitleTop;
    }
    .indexContainer ul li.active.clicky.type03>span{
        display: block; position: absolute; left: 10%; transform: scaleY(-1); color: rgba(255, 255, 255, 0.5);
        animation-name: type03TitleBottom;
    }
    .indexContainer ul li.type03>div div{
        width: 590px; position: absolute; bottom: var(--sp60); right: 3.125%;
    }
    .indexContainer ul li.type03>div div p{
        animation-delay: 1.3s; animation-name: textDown; animation-duration: .8s;
    }
    .indexContainer ul li.type03>div>input[type='button'],
    .indexContainer ul li.type03>div div a{
        animation-delay: 2s;
    }
    
    .cityContainer{
        background-size: cover; background-repeat: no-repeat; 
        height: 100vh; box-sizing: border-box; overflow-y: hidden;
        position: relative;
    }
    .cityContainer>div{
        width: 100%; height: 100vh; position: absolute; transition: top ease-out 1s;
        display: flex; flex-flow: column;
    }
    .cityContainer>div.active{
        background-color: var(--GS01); overflow-y: auto; justify-content: center; top: 0 !important; box-sizing: border-box;
    }
    .cityContainer div.titleBox{
        padding: var(--sp100) 0 var(--sp80);
    }
    .cityContainer>div:not(.active) div.titleBox{
        color: var(--GS01); text-shadow: 8px 0 13px rgba(0, 0, 0, 0.75);
    }
    .cityContainer div.titleBox small{
        display: inline-block; padding: 0 5px 5px;
    }
    .cityContainer>div:not(.active) div.titleBox small{
        border-bottom: 1px solid var(--GS01);
    }
    .cityContainer>div.active div.titleBox small{
        border-bottom: 1px solid var(--GN);
    }
    .cityContainer div.titleBox p{
        width: 60%; max-width: 1000px; margin: 0 auto;
    }
    .cityContainer div.titleBox+div{
        position: relative; width: 93.75%; margin: 0 3.125% var(--sp100);
    }

    .fancyBox{
        float: left; width: 30%;
    }
    .fancybox__toolbar__column.is-middle{
        padding-top: var(--sp80);
    }

    .cityContainer div.contentBox{
        position: absolute; overflow-y: scroll; height: 100%; width: 68%; right: 0;
    }

    .videoContainer{
        height: 100vh;
        position: relative; overflow-y: hidden;
    }
    .videoContainer video{
        width: 100%;
        position: absolute; top: 50%; left: 0; transform: translate(0,-50%);
    }
    .videoContainer h2,
    .videoContainer ol li,
    .videoContainer div:first-of-type input[type='button']{
        text-shadow: 3px 1px 8px rgba(0, 0, 0, 0.45);
    }
    .videoContainer h2{
        position: fixed; top: 140px; right: 3.125%; z-index: 100;
    }
    .videoContainer ol{
        position: absolute; bottom: 140px; right: 3.125%;
    }
    .videoContainer ol li{
        float: left; display: block; transition: color ease-in-out .28s;
    }
    .videoContainer ol li:not(:first-of-type){
        margin-left: var(--sp30);
    }
    .videoContainer div:first-of-type{
        position: absolute; bottom: 200px; right: 3.125%;
    }
    .videoContainer div:first-of-type input[type='button']{
        font-size: var(--sp80);
    }
    .videoContainer>span{
        top: 50%; 
    }
    .videoContainer div.pop.active{
        width: 600px; padding: var(--sp100) var(--sp60); top: 50%;
    }

    .videoDetailContainer{
        overflow: hidden; 
    }
    .videoDetailContainer input[type='button']{
        top: 14vh; left: -60px; padding: 0 var(--sp60) 0 0; transform: scaleX(1); clip-path: inset(0 50% 0 0);
    }
    .videoDetailContainer input[type='button'].clicky{
        transform: scaleX(-1);
    }
    .videoDetailContainer article{
        position: absolute; top: 0; width: 100vw; height: 100vh; padding: 28vh 0 0; box-sizing: border-box; transition: left ease 1s;
    }
    .videoDetailContainer article:not(.active){
        left: 57.291%;
    }
    .videoDetailContainer article.active{
        left: 0;
    }
    .videoDetailContainer article>div{
        width: 90%; margin: 0 5%; max-height: 60vh; overflow-y: auto;
    }
    .videoDetailContainer article div div{
        position: sticky; top: 0;
    }
    .videoDetailContainer article div h2{
        padding-bottom: var(--sp20);
    }
    .videoDetailContainer article ol li{
        width: 30%; float: left;
    }
    .videoDetailContainer article ol li:not(:first-of-type){
        margin-left: 5%;
    }

    .themaDetailContainer{
        height: 100vh; padding: 140px 0; margin: 0 5%; box-sizing: border-box;
        display: flex; flex-flow: column; justify-content: center;
    }
    .themaDetailContainer div{
        width: 45%;
    }
    .themaDetailContainer div:first-of-type>*{
        max-width: 900px; margin: 0 auto;
    }
    .themaDetailContainer div:first-of-type p{
        width: 80%;
    }
    .themaDetailContainer div:first-of-type ol li{
        width: var(--sp50); line-height: var(--sp50); margin-bottom: var(--sp10);
    }
    .themaDetailContainer div:first-of-type ol li:hover,
    .themaDetailContainer div:first-of-type ol li.active{
        background-color: var(--BB01);
    }
    .themaDetailContainer>ul{
        width: 45%; max-width: 1280px; height: 76vh; max-height: 1100px;
        position: fixed; top: 50%; right: 5%; transform: translate(0, -50%);
        overflow-y: scroll; box-sizing: border-box;
    }
    .themaDetailContainer>ul li:not(:last-of-type){
        margin-bottom: 20vh;
    }
    .themaDetailContainer>ul li figure figcaption p{
        width: 80%; margin: 0 auto;
    }
    .themaDetailContainer div:last-of-type ul{
        max-width: 700px; margin: 0 auto;
    }
    .themaDetailContainer div:last-of-type ul li a{
        line-height: var(--sp50); width: 100%; max-width: 180px;
    }

    .themaContainer{
        height: 100vh; padding: 11.111vh 0; box-sizing: border-box; 
    }
    .bx-wrapper{
        float: left; width: 58%; top: 50%; transform: translate(0,-50%);
    }
    .themaContainer>div.unR40{
        width: 220px; bottom: 17.111vh; right: 3.125%;
    }
    .themaContainer .titleBox{
        float: left; margin-left: 3%; width: 39%; padding: var(--sp80) 0;
    }

    .archiveContainer ol.fiR30{
        position: fixed; top: 140px; right: 3.125%; z-index: 100; width: 50%; min-width: 860px;
        height: var(--sp30); padding-right: var(--sp30); box-sizing: border-box;
    }
    .archiveContainer ol.fiR30::after{
        content: ''; background-image: url('../images/icon_leftDouble_white.svg'); background-position: center; background-repeat: no-repeat;
        display: block; width: var(--sp30); height: var(--sp30); 
        position: absolute; right: 0; top: 0;
        transition: transform ease-out .5s;
        cursor: pointer;
    }
    .archiveContainer ol.fiR30.clicky::after{
        transform: rotate(180deg);
    }
    .archiveContainer ol.fiR30 li{
        display: inline; position: absolute;
        transition-property: right, opacity, color; transition-timing-function: ease-out; transition-duration: .5s;
    }
    .archiveContainer ol.fiR30 li:not(:first-of-type){
        margin-left: var(--sp30);
    }
    .archiveContainer ol.fiR30:not(.clicky) li{
        right: 60px;
    }
    .archiveContainer ol.fiR30:not(.clicky) li:not(.active){
        opacity: 0;
    }
    .archiveContainer ol.fiR30:not(.clicky) li.active{
        z-index: 1000;
    }
    .archiveContainer ol.fiR30.clicky li:nth-of-type(1){right: 96.004%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(2){right: 88.131%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(3){right: 79.670%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(4){right: 71.445%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(5){right: 62.632%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(6){right: 54.876%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(7){right: 47.826%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(8){right: 39.365%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(9){right: 31.022%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(10){right: 23.031%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(11){right: 14.688%;}
    .archiveContainer ol.fiR30.clicky li:nth-of-type(12){right: 6.580%;}

    .archiveContainer ol:last-of-type>li{
        position: relative; background-size: cover; background-repeat: no-repeat;
    }
    .archiveContainer ol:last-of-type>li::after{
        content: ''; display: block; background-color: rgba(51, 51, 51, 0.5);
        width: 2%; height: 100vh;
        position: absolute; top: 0; right: 0;
    }
    .archiveContainer ol:last-of-type>li ul li{
        float: left; height: 100vh; padding: 24vh 4% 18vh; box-sizing: border-box; border-right: 1px solid var(--GS04);
        display: flex; flex-flow: column; justify-content: end;
        background-color: rgba(51, 51, 51, 0.5); transition: background-color ease-out .3s;
    }
    .archiveContainer ol:last-of-type li ul li:hover{
        background-color: rgba(15, 4, 4, 0.25);
    }
    .archiveContainer ol:last-of-type>li ul li:not(:first-of-type){
        width: 24%;
    }
    .archiveContainer ol:last-of-type>li ul li:first-of-type{
        width: 26%; padding-left: 6%;
    }
    .archiveContainer ol:last-of-type li ul li>*{
        transition-timing-function: ease-out; transition-duration: .3s;
    }
    .archiveContainer ol:last-of-type li ul li b{
        transition-property: color;
    }
    .archiveContainer ol:last-of-type li ul li h3{
        transition-property: color; margin-bottom: auto;
    }
    .archiveContainer ol:last-of-type li ul li img{
        opacity: 0; transition-property: opacity;
    }
    .archiveContainer ol:last-of-type li ul li:hover img{
        opacity: 1;
    }
    .archiveContainer ol:last-of-type li ul li a{
        max-width: 170px; line-height: var(--sp40); border: 1px solid var(--GS04);
        background-color: transparent; transition-property: color, background-color;
    }
}